* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.color-green {
  color: #4BD357;
}

.color-black {
  color: #3A3A3A;
}

.color-white {
  color: #FFFFFF;
}

.background-color-green {
  background-color: #4BD357;
}

.background-color-black {
  background-color: #3A3A3A;
}

.background-color-white {
  background-color: #FFFFFF;
}

.m-0 {
  margin: 0;
}

#tool-bar {
  min-height: 8vh;
  max-height: 8vh;
  min-width: 100%;
  max-width: 100%;
  padding: .8rem 2rem;
  color: #0A540C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#tool-bar * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tool-bar .right-btns {
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tool-bar .tool-bar-btn {
  all: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4BD357;
  background-color: #FFFFFF;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
}

.body {
  padding: .8rem;
  padding-bottom: 0;
  min-height: 84vh;
  max-height: 84vh;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .8rem;
  border-radius: .7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: .8rem;
}

.contact-card .avatar {
  border-radius: 140rem;
  overflow: hidden;
  height: 5vmax;
  width: 5vmax;
  margin: 0;
  padding: 0;
}

.contact-card .avatar img {
  width: 100%;
  height: auto;
}

.contact-card .info {
  margin-left: .8rem;
  font-size: 1rem;
  padding: 0;
}

.contact-card .info h4 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #3A3A3A;
  }
  .contact-card {
    background-color: #424242;
  }
  .info {
    color: #FFFFFF;
  }
  .tab-bar {
    background-color: #3A3A3A;
  }
  .far {
    color: #FFFFFF;
  }
  .tab-bar-btn.active > .far {
    color: #3A3A3A;
  }
}

@media (prefers-color-scheme: light) {
  body, html {
    background-color: #FFFFFF;
  }
  .contact-card {
    background-color: #e6e6e6;
  }
  .info {
    color: #3A3A3A;
  }
  .tab-bar {
    background-color: #FFFFFF;
  }
  .far {
    color: #3A3A3A;
  }
  .tab-bar-btn.active > .far {
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=style.css.map */